body {
    /* border: 1px solid red; */
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(15, 3, 27);
    color: white;
    font-family: sans-serif;
}

header {
    /* margin-top: 20px; */
   /*  border: 1px solid orange; */
    text-align: center;
    /* background-color: rgb(24, 5, 75); */
    padding: 20px 0;

}

h1 {
    text-shadow: 2px 2px 4px rgb(127,0,255);
}

.intro {
    /* border: 1px solid red; */
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.intro img {
    border-radius: 100px;
    box-shadow: 0px 0px 10px 2px white;
    /* box-shadow: 0px 0px 10px 1px rgb(127, 0, 255); */
}

.profile-desc span {
    color: rgb(127, 0, 255);
    text-shadow: 2px 2px 4px rgb(127,0,255);

}

hr {
    color: white;
}

.projects {
    display: flex;
    justify-content: space-around;
   /*  border: 1px solid red; */
    gap: 50px;
    flex-wrap: wrap;
    
}


.project1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px white;
  box-shadow: 0px 0px 10px 1px rgb(127,0,255);
  width: 400px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: rgb(202, 133, 5);
    color: white;
    font-size: large;
    font-weight: bold;
}

footer {
   /*  border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
   /*  background-color: rgb(24, 5, 75); */


}

.footer-contact {
   /*  border: 1px solid orange; */
}

.footer-social {
   /*  border: 1px solid yellow; */
}

.footer-address {
   /*  border: 1px solid green; */
}

.projects h2 {
    font-size: xx-large;
}

.project-heading {
    text-align: center;
   /*  border: 1px solid red; */
    padding: 20px 0;
    font-weight: bold;
    font-size: xx-large;
    /* color: rgb(127,0,255); */
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
    .intro {
        flex-direction: column;
        width: 90%;
    }

    .projects {
        flex-direction: column;
        align-items: center;
    }

    .project1 {
        width: 90%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-contact, .footer-social, .footer-address {
        margin-bottom: 20px;
        text-align: center;
    }
}

.projects img {
    width: 400px;
}

.projects-section {
    margin-bottom: 100px;
}

.heading {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading h2, .heading p {
   /*  border: 1px solid red; */
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.heading p {
    font-style: italic;
    color: brown;
}
